<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>FoodNemo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
     body {
         padding-top: 50px;
         padding-bottom: 20px;
     }
    </style>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 8]>
         <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
         <![endif]-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="trademark" href="/#">
            <img src='/img/foodnemo-dark.png'>
          </a>
        </div>
        <h3 class="visible-lg tagline">No minimum order. No high delivery charge.</h3>
      </div>
    </nav>

    <div class="modal" id="closed-modal" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">
          {% for msg in info.mask_msg %}
            <h4 class="modal-title">{{ msg }}</h4>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="container main-content" id="order-choice">
      <div>
        <h2 class="recommend">Welcome to Food Nemo!</h2>
        {% for intro in info.intro %}
          <h4>{{ intro }}</h4>
        {% endfor %}
        <h4><br></h4>
      </div>
      <div class="row">
        <div class="dish-preview col-md-4">
          <div class="dish-pic normal img-responsive">
            <span class="dish-name">{{ info.dishes.nml.name }}</span>
          </div>
          <div class="quantity-line row">
            <span class="price pull-left">$ {{ info.dishes.nml.price }}</span>
            <div class="pull-right">
              <a class="btn minus1" href="#" role="button">–</a>
              <input type="text" value="0" min="0" class="dish-count">
              <a class="btn plus1" href="#" role="button">+</a>
            </div>
          </div>
        </div>
        <div class="dish-preview col-md-4">
          <div class="dish-pic halal img-responsive">
            <span class="dish-name">{{ info.dishes.hal.name }}</span>
            <span class="dish-type">Halal</span>
          </div>
          <div class="quantity-line row">
            <span class="price pull-left">$ {{ info.dishes.hal.price }}</span>
            <div class="pull-right">
              <a class="btn minus1" href="#" role="button">–</a>
              <input type="text" value="0" min="0" class="dish-count">
              <a class="btn plus1" href="#" role="button">+</a>
            </div>
          </div>
        </div>
        <div class="dish-preview col-md-4">
          <div class="dish-pic vegie img-responsive">
            <span class="dish-name">{{ info.dishes.veg.name }}</span>
            <span class="dish-type">Vegan</span>
          </div>
          <div class="quantity-line row">
            <span class="price pull-left">$ {{ info.dishes.veg.price }}</span>
            <div class="pull-right">
              <a class="btn minus1" href="#" role="button">–</a>
              <input type="text" value="0" min="0" class="dish-count">
              <a class="btn plus1" href="#" role="button">+</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row order-done text-center">
          <button class="btn btn-danger">ORDER</button>
      </div>

      <div class="row how-to text-center">
        <p class="small">* Currently only available in Science Park I & II.</p>
        <p class="small">* Place your order by 11am, the food will be delivered at your chosen time slot.</p>
      </div>

    </div> <!-- /container -->


    <div class="container main-content" id="contact-detail">
      <div class="row">
        <form class="form-horizontal col-md-7 col-xs-12" data-toggle="validator">
          <fieldset>

            <!-- Form Name -->

            <div class="form-group">
              <label class="col-md-4 control-label" for="phone">Contact No.</label>
              <div class="col-md-8">
                <input id="phone" name="phone" type="text" placeholder="e.g. 98765432" maxlength="8" class="form-control input-lg" pattern="^[0-9]{8}$" required data-error="8 digit number required">
              </div>
              <div class="help-block with-errors col-md-offset-4"></div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="name">Name</label>
              <div class="col-md-8">
                <input id="name" name="name" type="text" placeholder="e.g. David" maxlength="32" class="form-control input-lg" required data-error="So we may address you properly :)">
              </div>
              <div class="help-block with-errors col-md-offset-4"></div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="zip-code">Zip Code</label>
              <div class="col-md-8">
                <input id="zip-code" name="zip-code" type="text" maxlength="6" placeholder="e.g. 117628" class="form-control input-lg" pattern="^[0-9]{6}$" required data-error="Please fill in your zip code">
              </div>
              <div class="help-block with-errors col-md-offset-4"></div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="location">Address</label>
              <div class="col-md-8">
                <textarea id="location" name="location" placeholder="e.g. Institute of Microelectronics, 11 Science Park Road, Singapore Science Park II" maxlength="128" class="form-control" required data-error="Please specify a preferred devlivery location"></textarea>
              </div>
              <div class="help-block with-errors col-md-offset-4"></div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="Delivery Time">Delivery Time</label>
              <div class="col-md-8">
                <label class="radio-inline" for="Delivery Time-0">
                  <input type="radio" name="deliver-time" id="slot0" value="0" checked="checked">12 pm to 1 pm
                </label>
                <!--label class="radio-inline" for="slot1">
                  <input type="radio" name="deliver-time" id="Delivery Time-1" value="1">1 pm to 2 pm
                </label-->
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" for="remark">Remark</label>
              <div class="col-md-8">
                <textarea class="form-control" id="remark" name="remark" maxlength="128" placeholder=""></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 col-xs-0 control-label" for=""></label>
              <div class="contact-filled col-md-4 col-xs-6 order-done">
                <button type="submit" class="btn btn-danger" id="submit-order">CONFIRM</button>
              </div>
              <div class="contact-filled col-md-4 col-xs-5">
                <div id="submit-problem">Need help?</div>
              </div>
            </div>

          </fieldset>
        </form>

        <div class="order-summary col-md-5 col-xs-12">
          <h3>Your Order</h3>
          <div class="order-detail">
            <div class='per-dish'>
            </div>
            <hr>
            <p class="payable pull-right"></p>
          </div>
        </div>

      </div>

      <div class="row how-to text-center">
        <p class="help-msg">* Use <a class="gg-form" href="https://docs.google.com/forms/d/1emh8Bx6t8jt_zlgMvKq8t91yJkIc1CbIyzCCrlubrkQ/viewform?entry.190929068=0&entry.425344606=0&entry.676433141=0&entry.1185441708&entry.565281849&entry.596142639&entry.197578169&entry.994904560">this form</a> if you face any problem in placing order, or <a href="mailto:foodnemo@gmail.com">drop us an email at foodnemo@gmail.com</a>.</p>
        <p class="small">* Cash on delivery. Appreciate if you could have the exact amount ready.</p>
      </div>

    </div> <!-- /container -->


    <div class="container main-content" id="thankyou">

      <div class="text-center">
        <h2>Thank you! You've successfully placed your order :)</h2>
      </div>

    </div> <!-- /container -->


    <hr>

    <footer class="container text-center">
      <span><a href="/about.html">About Us</a></span>
      <span>&nbsp;&nbsp; | &nbsp;&nbsp;</span>
      <span><a href="/howitworks.html">How It Works</a></span>
      <span>&nbsp;&nbsp; | &nbsp;&nbsp;</span>
      <span><a href="/faq.html">FAQ</a></span>
      <span>&nbsp;&nbsp; | &nbsp;&nbsp;</span>
      <span><a href="/career.html">Career</a></span>
    </footer>

    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/validator.min.js"></script>

    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--script>
     (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
       function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
       e=o.createElement(i);r=o.getElementsByTagName(i)[0];
       e.src='//www.google-analytics.com/analytics.js';
       r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
     ga('create','UA-72547626-1','auto');ga('send','pageview');
    </script-->
  </body>
</html>
